:root {
  --mulled-wine: #4c4558;
  --white: #ffffff;

  --font-size-m: 17px;

  --font-family-helveticaneue-regular: "HelveticaNeue-Regular", Helvetica;
  --font-family-helveticaneue-thin: "HelveticaNeue-Thin", Helvetica;
}
